<div style="margin-left: 30%;">
<div *ngFor="let pr of productRatings.slice(0, 5)">
  <p>{{pr.comment}}</p>
  <p>{{pr.rating}}</p>
  <p>{{pr.User}}</p>
  <p>{{pr.Product}}</p>
    <input type="button" value="Edit" (click)="showEditForm(pr)">
    <input type="button" value="Delete" (click)="showDeleteForm(pr)">
</div>


<input type="button" value="Add" (click)="showAddForm()">
  <!-- test purposes 1 in place of productId -->


<form name="createPR" *ngIf="newProductRating && addPR">
  <textarea name="comment" [(ngModel)]="newProductRating.comment" placeholder="new comment. . ."></textarea><br>
  <!-- <input (click)="addTodo(newTodo)" type="submit" value="Add Item" /> -->
  <input type="button" value="Add" (click)="addProductRating(newProductRating, 1)">
</form>


<form name="editPR" *ngIf="editProductRating && editPR">
  <textarea name="comment" [(ngModel)]="newProductRating.comment" placeholder="update comment. . ."></textarea><br>
  <!-- <input (click)="addTodo(newTodo)" type="submit" value="Add Item" /> -->
  <input type="button" value="Add" (click)="updateProductRating(editProductRating, 1)">
</form>


<form name="deletePR" *ngIf="destroyProductRating && destroyPR">
    Are you sure ?
  <!-- <input (click)="addTodo(newTodo)" type="submit" value="Add Item" /> -->
  <input type="button" value="Delete" (click)="deleteProductRating(1)">
</form>
</div>
