a, i {
  color : white;
}

.tm-nav {
  margin-top: 30%;
}

li {
  /* margin-top: 0%; */
  background-color: #556B2F
}

li > a {
  /* max-height: 20px; */
  background-color: #556B2F;
  color: black;
  text-transform: uppercase;
}

img {
  width: 100%;
  margin-left: 5%;
}
