<header class="tm-header" id="tm-header" >
  <div class = "tm-header-wrapper">
  <nav class="navbar-expand-lg navbar-light" >
      <!-- <button class="navbar-toggler" type="button" aria-label="Toggle navigation" name="Menu">
          <i class="fas fa-bars"></i>
      </button> -->
      <nav class="tm-nav" id="tm-nav">
        <img id="navbar-image" src="assets/images/logo.png" >
          <ul >
              <li class="tm-nav-item" ><a [routerLink]="['/home']" class="tm-nav-link">
                  Home
              </a></li>
              <li class="tm-nav-item"><a [routerLink]="['/about']" class="tm-nav-link">
                  About
              </a></li>
              <li class="tm-nav-item"><a [routerLink]="['/market']" class="tm-nav-link">
                Market
              </a></li>
              <li class="tm-nav-item"><a [routerLink]="['/products']" class="tm-nav-link">
                  Products
              </a></li>
              <li class="tm-nav-item"><a [routerLink]="['/login']" class="tm-nav-link">
                  Login
              </a></li>
              <li class="tm-nav-item"><a href="contact.html" class="tm-nav-link">
                  Register
              </a></li>
          </ul>
      </nav>
    </nav>
    </div>

      <!-- <div class="tm-mb-65">
          <a rel="nofollow" href="https://fb.com/templatemo" class="tm-social-link">
              <i class="fab fa-facebook tm-social-icon"></i>
          </a>
          <a href="https://twitter.com" class="tm-social-link">
              <i class="fab fa-twitter tm-social-icon"></i>
          </a>
          <a href="https://instagram.com" class="tm-social-link">
              <i class="fab fa-instagram tm-social-icon"></i>
          </a>
          <a href="https://linkedin.com" class="tm-social-link">
              <i class="fab fa-linkedin tm-social-icon"></i>
          </a>
      </div> -->
</header>
