
<div  *ngIf="!selected && !hide">
  <hr class="tm-hr-primary tm-mb-45">
  <div class="tm-comment tm-mb-45" *ngFor="let pc of productComments">
      <figure class="tm-comment-figure">
          <img src="/assets/images/profile/mushroom.png"  style="width: 20%; height: 20%;" alt="Image" class="mb-2 rounded-circle img-thumbnail">
          <figcaption style="display: inline" class="tm-color-primary text-center">{{pc.user?.username}}</figcaption>
      </figure>
      <div>
        <span  style="color:black; font-weight: bold; font-size: 110%" class="d-block text-right tm-color-primary"><span style="font-weight: bold; font-size: 120%; color: rgb(26, 26, 92)">Posted:</span> {{pc.updated | date:'medium'}}</span>
        <hr class="tm-hr-primary tm-mb-45">
          <p style="color:black; font-weight: bold; font-size: 110%" (click)="displayProductComment(pc); hide = true;">
              {{pc.comment}}
          </p>
          <div class="d-flex justify-content-between">
          </div>
      </div>
  </div>
  </div>
  <form action="" class="mb-5 tm-comment-form" *ngIf="!selected">
      <h2 class="tm-color-primary tm-post-title mb-4">Add comment</h2>
      <div class="mb-4">
          <input class="form-control" name="comment" [(ngModel)]="newProductComment.comment" type="text">
      </div>
      <div class="text-right">
          <button class="tm-btn tm-btn-primary tm-btn-small" value="Add" (click)="addProductComment(newProductComment, product.id); this.reloadProductComment()">Submit</button>
      </div>
  </form>
  <form action="" class="mb-5 tm-comment-form" *ngIf="selected">
                <figure class="tm-comment-figure">
                  <img src="assets/images/profile/mushroom.png"  style="width: 20%; height: 20%;" alt="Image" class="mb-2 rounded-circle img-thumbnail">
                  <figcaption style="display: inline" class="tm-color-primary text-center">{{selected.user?.username}}</figcaption>
              </figure>
              <div>
                <span  style="color:black; font-weight: bold; font-size: 110%" class="d-block text-right tm-color-primary"><span style="font-weight: bold; font-size: 120%; color: rgb(26, 26, 92)">Posted:</span> {{selected.updated | date:'medium'}}</span>
                <hr class="tm-hr-primary tm-mb-45">
                  <p style="color:black; font-weight: bold; font-size: 110%">
                      {{selected.comment}}
                  </p>
              </div>

      <!-- <div class="mb-4">
          <input class="form-control" name="comment" [(ngModel)]="newProductComment.comment" type="text">
      </div> -->
      <!-- <div class="text-right">
          <button class="tm-btn tm-btn-primary tm-btn-small" value="Add" (click)="addProductComment(newProductComment, selected.id); selected = null; hide = !hide">Reply</button>
      </div> -->
      <div class="text-right" style="margin-top: 3%;">
        <input  class="tm-btn tm-btn-primary tm-btn-small" type="button" value="Delete" (click)="deleteProductComment(selected.id); selected = null; hide = !hide">
        <input style="display: inline" class="tm-btn tm-btn-primary tm-btn-small" type="button" value="Return" (click)="selected = null; hide = !hide">
      </div>
  </form>
  <form name="deletePR" *ngIf="selected && showDelete === true">
    <figure class="tm-comment-figure">
      <img src="assets/images/profile/mushroom.png" alt="Image" class="mb-2 rounded-circle img-thumbnail">
      <figcaption class="tm-color-primary text-center">User:<br> {{selected.user?.username}}</figcaption>
  </figure>

  </form>



