<div class="container-fluid" style="background-color: #ffcd70;">
  <!-- header -->
  <main class="tm-main">
      <!-- forms ? -->
      <div class="row tm-row" >
        <img class="background" src="assets/images/demo.png">

          <div class="col-12">
            <!-- add search functions here ? -->
          </div>

          <article  >
            <hr class="tm-hr-primary">
            <div class="d-flex justify-content-between tm-pt-45">
              <span class="tm-color-primary">Bacon . Crispy Bacon</span>
              <span class="tm-color-primary">June 24, 2020</span>
          </div>
          <p class="tm-pt-30">

            CONTENTS OF MARKET ETC

          </p>

            <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
              <div> link to something + profile pic ->
            <img src="assets/images/demo.png" style="margin-left: 20%; float: right; width: 20%; height: 40%; border-radius: 10px;" >
            </div>
            </a>

            <hr>
            <div class="d-flex justify-content-between">
                <!-- <span>36 (count of comments) comments</span>
                <span>by USERS</span> -->
            </div>
        </article>
      </div>

<!-- comments section -->


      <div class="row tm-row">
          <article class="comments-section">
              <hr class="tm-hr-primary">
              <p class="tm-pt-30">

                COMMENTS - USER

              </p>
              <div class="d-flex justify-content-between tm-pt-45">
                  <span class="tm-color-primary">something</span>
                  <span class="tm-color-primary">date</span>
              </div>
              <hr>
              <div class="d-flex justify-content-between">
                  <span>something</span>
                  <span>by user</span>
              </div>
   <!-- inner comment nested inside of parent comment -->
              <article class="comment-of-comment">
                <hr class="tm-hr-primary">
                <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
                    <!-- <div class=" tm-post-link-inner">
                        <img src="assets/images/demo.png" alt="Image" class="img-fluid">
                    </div> -->
                </a>
                <p>
                  commenting on someone
                </p>
                <div class="d-flex justify-content-between tm-pt-45">
                    <span class="tm-color-primary">June 16, 2020</span>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <span>by someone</span>
                </div>
            </article>
          </article>
  <!-- another parent comment -->
          <article class="comments-section">
              <hr class="tm-hr-primary">
              <p class="tm-pt-30">
                CONTENTS
              </p>
              <div class="d-flex justify-content-between tm-pt-45">
                  <span class="tm-color-primary">Creative . Design . Business</span>
                  <span class="tm-color-primary">June 16, 2020</span>
              </div>
              <hr>
              <div class="d-flex justify-content-between">
                  <span>48 comments</span>
                  <span>by USERS</span>
              </div>
          </article>

          <article class="comments-section">
            <hr class="tm-hr-primary">
            <p class="tm-pt-30">
              CONTENTS
            </p>
            <div class="d-flex justify-content-between tm-pt-45">
                <span class="tm-color-primary">Creative . Design . Business</span>
                <span class="tm-color-primary">June 16, 2020</span>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <span>48 comments</span>
                <span>by USERS</span>
            </div>
        </article>

      </div>
      <footer class="row tm-row" style="margin-top:10%">
      </footer>
  </main>
</div>
