.comments-section {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tm-hr-primary {
  background-color: white;
}

.tm-color-primary {
  color: black
}

.comment-of-comment {
  width: 75%;
  display: block;
  margin-left: 30%;
}
