<div class="container-fluid" style="background-color: #ffcd70;">
  <!-- header -->
  <main class="tm-main">
      <!-- forms ? -->
      <div class="row tm-row" >
        <img class="background" src="assets/images/demo.png">

          <div class="col-12">
            <!-- add search functions here ? -->
          </div>


          <article *ngIf="!selected" >
            <hr class="tm-hr-primary">
            <!-- <div class="d-flex justify-content-between tm-pt-45" *ngFor="let marketComment of marketComments "> -->
            <div class="d-flex justify-content-between tm-pt-45" *ngFor="let marketComment of market.marketComments ">
              {{market}}
              <!-- <tr *ngFor="let market of markets "> -->
                <span class="tm-color-primary">{{ marketComment.id }}</span>
              <span class="tm-color-primary" (click)="displayMarketComment(marketComment)">{{ marketComment.comment }}</span>
              <!-- </tr> -->
          </div>
        </article>

        <div *ngIf="!selected">
          <input type="text" name ="comment" placeholder="commet...." [(ngModel)]="newMarketCommet.comment" class ="form-control">
          <input type="submit" value ="Add Route" (click)="addANewMarketComment(newMarketCommet.market.id, newMarketCommet)">

        </div>


        <!-- </div> -->
        <div *ngIf="selected ">
          <input type="text" name ="comment" placeholder="commet...." [(ngModel)]="newMarketCommet.comment" class ="form-control">
          <input type="submit" value ="Add Route" (click)="addAMarketCommentReply(selected.id, newMarketCommet)">
        </div>
        </div>
      <footer class="row tm-row" style="margin-top:10%">
      </footer>
  </main>
</div>
