
<div  *ngIf="!selected">
  <h2 class="tm-color-primary tm-post-title">Comments</h2>
  <hr class="tm-hr-primary tm-mb-45">
  <div class="tm-comment tm-mb-45" *ngFor="let mc of marketComments">
      <figure class="tm-comment-figure">
          <img src="img/comment-1.jpg" alt="Image" class="mb-2 rounded-circle img-thumbnail">
          <figcaption class="tm-color-primary text-center">{{mc.user?.username}}</figcaption>
      </figure>
      <div>
        <span class="d-block text-right tm-color-primary">{{mc.updated | date:'mediumDate'}}</span>
        <hr class="tm-hr-primary tm-mb-45">
          <p  (click)="displayMarketComment(mc)">
              {{mc.comment}}
          </p>
          <div class="d-flex justify-content-between">
              <!-- <a href="#" class="tm-color-primary" (click)="addReply()">REPLY</a> -->
          </div>
      </div>

  </div>

  <div class="tm-comment-reply tm-mb-45" >

  </div>
  </div>
  <form action="" class="mb-5 tm-comment-form" *ngIf="!selected">
      <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
      <div class="mb-4">
          <input class="form-control" name="comment" [(ngModel)]="newMarketCommet.comment" type="text">
      </div>
      <div class="text-right">
          <button class="tm-btn tm-btn-primary tm-btn-small" value="Add" (click)="addANewMarketComment(market.id, newMarketCommet)" onClick="window.location.reload();">Submit</button>
      </div>
  </form>
  <form action="" class="mb-5 tm-comment-form" *ngIf="selected">
      <h2 class="tm-color-primary tm-post-title mb-4">Your Reply</h2>
      <div class="mb-4">
          <input class="form-control" name="comment" [(ngModel)]="newMarketCommet.comment" type="text">
      </div>
      <div class="text-right">
          <button class="tm-btn tm-btn-primary tm-btn-small" value="Add" (click)="addAMarketCommentReply(selected.id, newMarketCommet)" onClick="window.location.reload();">Reply</button>
      </div>
  </form>
  <form name="deletePR" *ngIf="selected">
      Are you sure ?
    <!-- <input (click)="addTodo(newTodo)" type="submit" value="Add Item" /> -->
    <input type="button" value="Delete" (click)="deletedMarketComment(selected.id)" onClick="window.location.reload();">
  </form>



