<header class="tm-header" id="tm-header" >
  <div class = "tm-header-wrapper">
  <nav class="navbar-expand-lg navbar-light" >
      <!-- <button class="navbar-toggler" type="button" aria-label="Toggle navigation" name="Menu">
          <i class="fas fa-bars"></i>
      </button> -->
      <nav class="tm-nav" id="tm-nav">
        <img id="navbar-image" src="assets/images/logo.png" >
          <ul >
              <li class="tm-nav-item" ><a [routerLink]="['/home']" class="tm-nav-link">
                  Users
              </a></li>
              <li class="tm-nav-item">
                <a [routerLink]="['/profile']" class="tm-nav-link">Profile</a></li>
              <li class="tm-nav-item"><a [routerLink]="['/markets']" class="tm-nav-link">
                  Markets
              </a></li>
              <!-- <li class="tm-nav-item"><a [routerLink]="['/market']" class="tm-nav-link">
                Market
              </a></li> -->
              <li class="tm-nav-item"><a [routerLink]="['/products']" class="tm-nav-link">
                  Products
              </a></li>
              <li class="tm-nav-item"><a [routerLink]="['/login']" class="tm-nav-link">
                  Login
              </a></li>
              <!-- <li *ngIf="!loggedIn()" class="tm-nav-item"><a href="contact.html" class="tm-nav-link">
                  Register
              </a></li> -->
              <li class="tm-nav-item" >
                <a [routerLink]="['/home']" class="tm-nav-link">Logout</a>

                <!-- <a href="contact.html" class="tm-nav-link"> -->
                <!-- <input  type="submit" value="Logout" style=""> -->
              <!-- </a> -->
            </li>
          </ul>
      </nav>
    </nav>
    </div>
</header>
