.container-fluid{
  background-color: #ffcd70;
  color: black;
  overflow: hidden;
}

#profile {
  width: 40%;
  border-radius: 70%;
  margin-right: 30%;

}

ul, li {
  list-style-type: none;

  overflow: hidden;
}

a {
  text-decoration: none;
}

h5 {
  color: rgb(143, 54, 22);
  border-radius: 5%;
  padding: 3%;
  background-color: rgba(244, 52, 19, 0.502);
}
