<footer class="row tm-row">
  <h2 style="color:black; font-weight: bold; font-size: 130%" class="tm-mb-40 tm-post-title tm-color-primary" *ngIf="productRatings.length > 0">Average Rating {{findAverageRating(productRatings)|number: '1.0-0'}} / 5</h2>
  <h2  style="margin-bottom: 0; color:black; font-weight: bold; font-size: 130%"class="tm-mb-40 tm-post-title tm-color-primary" *ngIf="productRatings.length === 0"> Not Rated Yet!</h2>
  <button style="margin-top: 0;" class="tm-btn tm-btn-primary tm-btn-small" type="submit" value="Add Rating" (click)="addPR = true; destroyPR = false">Add Rating</button>

  <form *ngIf="addPR" class="mb-5 tm-comment-form">
    <h2 class="tm-color-primary tm-post-title mb-4">Rate Here</h2>
    <div class="mb-4">
        <input class="form-control" name="name" type="number" [(ngModel)]="newProductRating.rating" min="1" max="5" name="rating">
    </div>
    <div class="text-right">
        <button class="tm-btn tm-btn-primary tm-btn-small" (click)="addProductRating(newProductRating, product.id); product.hide = true">Submit</button>
    </div>
</form>

  <form *ngIf="destroyPR" class="mb-5 tm-comment-form" name="deletePR">
    <input type="button" value="Delete" (click)="deleteProductRating(1)">
  </form>
<footer class="row tm-row">


