<div style="margin-left: 30%;">

<div>AVERAGE RATINGS {{newProductRating.ratingAverage}} / 5</div>

<input type="button" value="Add" (click)="showAddForm()">

<form (ngSubmit)="addProductRating(newProductRating, 1)" >
  <input type="number" [(ngModel)]="newProductRating.rating" min="1" max="5" name="rating" placeholder="rating.."><br>
  <button class="submit-button" type="submit">Submit</button>
</form>

<form name="deletePR">
    Are you sure ?
  <input type="button" value="Delete" (click)="deleteProductRating(1)">
</form>
</div>

