
<footer class="row tm-row">
  <div class="text-right">
    <h2 style="font-weight: bold;" class="tm-mb-40 tm-post-title tm-color-primary" *ngIf="marketRatings.length > 0">Average Rating {{findAverageRating()|number: '1.0-0'}} / 5 <br> <button style="display: inline"class="tm-btn tm-btn-primary tm-btn-small" type="submit" value="Add Rating" (click)="addMR = true; destroyMR = false">Add Rating</button></h2>
    <h2 style="font-weight: bold;" class="tm-mb-40 tm-post-title tm-color-primary" *ngIf="marketRatings.length === 0"> Not Rated Yet! <br> <button style="display: inline"class="tm-btn tm-btn-primary tm-btn-small" type="submit" value="Add Rating" (click)="addMR = true; destroyMR = false">Add Rating</button></h2>

    </div>


  <form *ngIf="addMR" class="mb-5 tm-comment-form">
    <h2 class="tm-color-primary tm-post-title mb-4">Rate Here</h2>
    <div class="mb-4">
        <input class="form-control"  type="number" [(ngModel)]="newMarketRating.marketRating" min="1" max="5" name="rating">
    </div>
    <div class="text-right">
        <button class="tm-btn tm-btn-primary tm-btn-small" (click)="addMarketRating(newMarketRating, market.id); market.hide = true">Submit</button>
    </div>
</form>

  <form *ngIf="destroyMR" class="mb-5 tm-comment-form" name="deletePR">
    <input type="button" value="Delete" (click)="deletedMarketRating(1)">
  </form>
<footer class="row tm-row">




