<div class="container-fluid">
  <main class="tm-main">
      <!-- Search form -->
      <div class="row tm-row">
          <div class="col-12">
              <!-- <form method="GET" class="form-inline tm-mb-80 tm-search-form">
                  <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                  <button class="tm-search-button" type="submit">
                      <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                  </button>
              </form> -->
          </div>
      </div>
      <div class="row tm-row tm-mb-45">
          <div class="col-12">
              <hr class="tm-hr-primary tm-mb-55">
              <img src="/assets/images/markets/one.jpg" alt="Image" class="img-fluid">
          </div>
      </div>
      <div class="row tm-row tm-mb-40">
          <div class="col-12">
              <div class="mb-4">
                  <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title">
                    About {{selected?.name}}
                  </h2>
                  <p>
                    {{selected?.description}}

                    Date:
                    {{selected?.marketDate}}

                  </p>
                  <p>
                    Address:
                    {{selected?.address?.street1}}
                    {{selected?.address?.street2}}
                    {{selected?.address?.city}}
                    {{selected?.address?.state}}
                    {{selected?.address?.zip}}
                  </p>
              </div>
          </div>
      </div>
      <div class="row tm-row tm-mb-120">
          <div class="col-lg-4 tm-about-col">
          </div>
      </div>
      <div class="row tm-row tm-mb-60">
          <div class="col-12">
              <hr class="tm-hr-primary  tm-mb-55">
          </div>
          <h2>Vendors</h2>
          <div class="col-lg-6 tm-mb-60 tm-person-col" *ngFor="let product of selected?.products">
              <div class="media tm-person">
                  <img src="assets/images/products/mushroom1.jpg" alt="Image" class="img-fluid mr-4">
                  <div class="media-body">
                      <h2 class="tm-color-primary tm-post-title mb-2">{{product.user}}</h2>
                      <h3 class="tm-h3 mb-3">Organic: {{product.organic}} </h3>
                      <h3 class="tm-h3 mb-3" >{{product.type}}</h3>
                      <p class="mb-0 tm-line-height-short">
                        {{product.description}}
                        {{product.name}}
                        {{product.unitPrice}}
                      </p>
                  </div>
              </div>
          </div>
          <!-- <div class="col-lg-6 tm-mb-60 tm-person-col" *ngFor="let comment of selected?.marketComments">
              <div class="media tm-person">
                  <img src="img/about-03.jpg" alt="Image" class="img-fluid mr-4">
                  <div class="media-body">
                      <h2 class="tm-color-primary tm-post-title mb-2">{{comment.updateTime}}</h2>
                      <h3 class="tm-h3 mb-3">{{comment.user}}</h3>
                      <p class="mb-0 tm-line-height-short">
                          Quisque in bibendum elit, in egestas turpis. Vestibulum ornare sollicitudin congue.
                          Aliquam lorem mi, maximus at iaculis ut.
                      </p>
                  </div>
              </div>
          </div> -->
         <!--- <div class="col-lg-6 tm-mb-60 tm-person-col">
              <div class="media tm-person">
                  <img src="img/about-04.jpg" alt="Image" class="img-fluid mr-4">
                  <div class="media-body">
                      <h2 class="tm-color-primary tm-post-title mb-2">Jay Zoona</h2>
                      <h3 class="tm-h3 mb-3">Supervisor</h3>
                      <p class="mb-0 tm-line-height-short">
                          Maecenas eu mi eu dui cursus consequat non eu metus. Morbi ac
                          turpis eleifend, commodo purus eget, commodo mauris.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 tm-mb-60 tm-person-col">
              <div class="media tm-person">
                  <img src="img/about-05.jpg" alt="Image" class="img-fluid mr-4">
                  <div class="media-body">
                      <h2 class="tm-color-primary tm-post-title mb-2">Catherine Soft</h2>
                      <h3 class="tm-h3 mb-3">Team Leader</h3>
                      <p class="mb-0 tm-line-height-short">
                          Integer eu sapien hendrerit,
                          imperdiet arcu sit amet, sollicitudin ipsum.
                          Phasellus consequat suscipit ligula eget bibendum.
                      </p>
                  </div>
              </div>
          </div> -->

          <app-market-comment [market]="myMarket"></app-market-comment>
          <!-- <h2>Comments</h2> -->
          <!-- <h2>Average Rating {{averageRating(selected.marketRatings)}}</h2> -->
          <!-- <div class="col-lg-6 tm-mb-60 tm-person-col" *ngFor="let comment of marketComments">
              <div class="media tm-person">
                  <img src="assets/images/products/mushroom1.jpg" alt="Image" class="img-fluid mr-4">
                  <div class="media-body">
                      <h2 class="tm-color-primary tm-post-title mb-2">{{comment.comment}}</h2>
                      <h3 class="tm-h3 mb-3">Organic: {{comment.user}} </h3>
                      <h3 class="tm-h3 mb-3" >{{comment.updateTime}}</h3>
                      <p class="mb-0 tm-line-height-short" *ngFor="let replies of comment.replies">
                        {{replies.comment}}
                        {{replies.user}}
                        {{replies.updateTime}}
                      </p>
                  </div>
              </div>
          </div> -->
          <!-- <div class="col-lg-6 tm-mb-60 tm-person-col">
              <div class="media tm-person">
                  <img src="img/about-03.jpg" alt="Image" class="img-fluid mr-4">
                  <div class="media-body">
                      <h2 class="tm-color-primary tm-post-title mb-2">Timy Cake</h2>
                      <h3 class="tm-h3 mb-3">Project Director</h3>
                      <p class="mb-0 tm-line-height-short">
                          Quisque in bibendum elit, in egestas turpis. Vestibulum ornare sollicitudin congue.
                          Aliquam lorem mi, maximus at iaculis ut.
                      </p>
                  </div>
              </div>
          </div> -->
      </div>
  </main>
</div>


