<div class="container-fluid" style="background-color: #ffcd70;">
  <!-- header -->
  <main class="tm-main">
      <!-- forms ? -->
      <div class="row tm-row" >
        <img class="background" src="assets/images/demo.png">

          <div class="col-12">
            <!-- add search functions here ? -->
            <hr class="tm-hr-primary" />
            <div class="input-group mb-3">
              <button
                class="btn btn-#526E2A"
                type="button"
                name="keySearch"
                id="button-addon1">
                Search
              </button>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="keyword"
                placeholder="Keyword Search"
                aria-label="Example text with button addon"
                aria-describedby="button-addon1"
              />
            </div>
          </div>

          <article *ngIf="!selected" >
            <hr class="tm-hr-primary">
            <!-- <div class="d-flex justify-content-between tm-pt-45" *ngFor="let market of markets | homeSearch: keyword; "> -->
            <div class="d-flex justify-content-between tm-pt-45" *ngFor="let market of markets.slice(0,7) ">
              <!-- <tr *ngFor="let market of markets "> -->
              <span class="tm-color-primary" (click)="displayMarket(market)">{{ market.name }}</span>
              <span class="tm-color-primary">{{ market.marketDate }}</span>
              <!-- </tr> -->
          </div>
        </article>
        <!-- <div *ngIf="newMarket.address!=null"> -->
        <!-- <input type="number" name ="addressId" placeholder="Address Id"  [(ngModel)]="address.id" class ="form-control"> -->
        <input type="text" name ="street1" placeholder="Street 1 "  [(ngModel)]="newMarket.address.street1" class ="form-control">
        <input type="text" name ="street2" placeholder="Street 2 "  [(ngModel)]="address.street2" class ="form-control">
        <input type="text" name ="city" placeholder="City "  [(ngModel)]="newMarket.address.city" class ="form-control">
        <input type="text" name ="state" placeholder="State "  [(ngModel)]="newMarket.address.state" class ="form-control">
        <input type="number" name ="zip" placeholder="Zip Code"  [(ngModel)]="newMarket.address.zip" class ="form-control">
        <input type="text" name ="name" placeholder="Market Name" [(ngModel)]="newMarket.name" class ="form-control">
        <input type="text" name ="description" placeholder="Market Description" [(ngModel)]="newMarket.description" class ="form-control">
        <input type="text" name ="marketDate" placeholder="Market Date" [(ngModel)]="newMarket.marketDate" class ="form-control">
        <input type="text" name ="imageUrl" placeholder="Image Url" [(ngModel)]="newMarket.imageUrl" class ="form-control">
        <input type="submit" value ="Add Route" (click)="addMarket(newMarket)">
      <!-- </div> -->
        <div *ngIf="selected && !editMarket">
          <label for="id">ID :</label> <p>{{ selected.id }}</p>
          <label for="name">Name :</label> <p>{{ selected.name }}</p>
          <label for="description">Description :</label> <p>{{ selected.description }} </p>
          <label for="imageUrl">Image_Url :</label> <p>{{ selected.imageUrl }}</p>
          <label for="marketDate">Market Date :</label> <p>{{ selected.marketDate }}</p>
          <!-- <label for="marketDate">Market Comment :</label> <p>{{ delete(selected.id) }}</p> -->
          <button (click)="displayTable()">Back</button>
          <button (click)="setEditMarket()">Edit</button>
        </div>
        <div *ngIf="editMarket">

          <input type="text" name="name" [(ngModel)]="editMarket.name" placeholder="name" class ="form-control">
          <input type="text" name="description" [(ngModel)]="editMarket.description" placeholder="distance miles" class ="form-control">
          <input type="text" name="marketDate" [(ngModel)]="editMarket.marketDate" placeholder="Green,Black etc" class ="form-control">
          <input type="text" name="imageUrl" [(ngModel)]="editMarket.imageUrl"  placeholder="Icy, Groomed etc" class ="form-control">
          <!-- <button (click)="updateMarket(editMarket)">Save</button> -->
           <button (click)="editMarket = null;">Cancel</button>

        </div>
      </div>
      <footer class="row tm-row" style="margin-top:10%">
      </footer>
  </main>
</div>


