.position-absolute  {
  background-color:#556B2F
}
article {
  background-color: white;
}
a {
  text-decoration: none;
}
.featured {
  position: absolute;
  top: 10%;
  left: 85%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: bold;
  color: #120c00;
  font-size: 250%;
}

p {
   color: black;
   font-size: 100%;
}

h2 {
  font-weight: bold;
  color:rgb(44, 93, 114);
}
span {
  font-weight: bold;
  color:rgb(58, 99, 75);
  font-size: 120%;
}

.tm-color-primary {
  color: black;
}

.img-fluid {
  width: 500px;
  height: 350px;
}

.background {
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

button {
  background-color: #526E2A;
  text-decoration: none;
  font-size: 100%;
}

container-fluid {
  height: 100vh;
}
