.position-absolute  {
  background-color:#556B2F
}
article {
  background-color: white;
}
a {
  text-decoration: none;
}
.featured {
  position: absolute;
  top: 10%;
  left: 85%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: bold;
  color: #120c00;
  font-size: 250%;
}

p {
   color: black;
}

.tm-color-primary {
  color: black;
}

.img-fluid {
  width: 500px;
  height: 350px;
}

.background {
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    width: 100%;
    height: 400px;

    /* margin-left: auto;
    margin-right: auto; */
    /* width: 50%; */

    /* margin-right: 5%; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: 100% 100%; */
}

container-fluid {
  height: 100vh;
}
