<div class="container-fluid" style="background-color: #ffcd70">
  <!-- header -->
  <main class="tm-main">
    <!-- forms ? -->
    <div class="row tm-row">
      <img class="background" src="assets/images/demo.png" />
      <div class="col-12"></div>

      <article>
        <hr class="tm-hr-primary" />
        <div class="input-group mb-3">
          <button
            class="btn btn-#526E2A"
            type="button"
            name="keySearch"
            id="button-addon1"
          >
            Search
          </button>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="keyword"
            placeholder="Keyword Search"
            aria-label="Example text with button addon"
            aria-describedby="button-addon1"
          />
        </div>
        <!-- <div
          class="d-flex justify-content-between tm-pt-45"
          *ngFor=""
        >
          <span class="tm-color-primary">{{ prd.name }}</span>
          <span class="tm-color-primary">{{ prd.description }}</span>
          <span class="tm-color-primary">{{ prd.imageUrl }}</span>
          <span class="tm-color-primary">{{ prd.quantity }}</span>
          <span class="tm-color-primary">{{ prd.unitPrice }}</span>
          <span class="tm-color-primary">{{ prd.availableDate }}</span>
          <hr class="tm-hr-primary" />
        </div> -->

        <!-- <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
          <div>
            link to something + profile pic ->
            <img
              src="assets/images/demo.png"
              style="
                margin-left: 20%;
                float: right;
                width: 20%;
                height: 40%;
                border-radius: 10px;
              "
            />
          </div>
        </a> -->

        <hr />
        <div class="d-flex justify-content-between">
          <!-- <span>36 (count of comments) comments</span>
                <span>by USERS</span> -->
        </div>
      </article>
      <cdk-accordion class="example-accordion">
        <cdk-accordion-item *ngFor="let prd of products | keyword: keyword; let index = index;"
          #accordionItem="cdkAccordionItem"
          class="example-accordion-item"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index">
          <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
            hi im {{prd.name}}
            <ng-container *ngFor="let ratings of prd.ratings">
              {{ratings.comment}}
              {{ratings.rating}}
            </ng-container>
            <span class="example-accordion-item-description">
              Click to {{ accordionItem.expanded ? 'close' : 'open' }}
            </span>
          </div>
          <div
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index">
            <a [routerLink]="['find', prd.id]">Learn More {{prd.name}}</a>
            descp {{prd.description}}
            quantity {{prd.quantity}}
            date {{prd.availableDate}}


          </div>
        </cdk-accordion-item>
      </cdk-accordion>
    </div>
  </main>
</div>
