<body >
<div class="upper" *ngIf="new">
  <div class="login-div">
      <form class="login" >
          <h1>Register</h1>
          <div class="input-text">
            <span style="color: white">Email</span> <input type="text" class='input-field' name='email' [(ngModel)]="newUser.email" />
              <div class="warning-input" id="warningEmail">
                  Please enter a valid email.
              </div>
          </div>

          <div class="input-text">
              <span style="color: white">Username</span> <input type="text" class='input-field' name='username' [(ngModel)]="newUser.username" />
              <div class="warning-input" id="warningPassword">
                  Please enter valid username.
              </div>
          </div>

          <div class="input-text">
            <span style="color: white">Password</span><input type="password" class='input-field' name='password' [(ngModel)]="newUser.password" />
              <div class="warning-input" id="warningPassword">
                  Your password must contain between 4 and 60 characters.
              </div>
          </div>

          <div  class="new-members">
              <input (click)='register(newUser)' type="submit" value="Register">
          </div>
      </form>
  </div>
</div>


<div class="upper" *ngIf="!new">
  <div class="login-div" >
      <form class="login">
          <h1>Sign In</h1>
          <div class="input-text">
            <span style="color: white">Username</span><input type="text" class='input-field' name='username' [(ngModel)]="newUser.username" placeholder="Username" />
              <div class="warning-input" id="warningPassword">
                  Incorrect username
              </div>
          </div>

          <div class="input-text">
            <span style="color: white">Password</span><input type="password" class='input-field' name='password' [(ngModel)]="newUser.password" placeholder="Password" />
              <div class="warning-input" id="warningPassword">
                  Incorrect password
              </div>
          </div>

          <div class="new-members">
              <input (click)='login(newUser)' type="submit" value="Sign In">
          </div>
          <div class="remember-flex">
          </div>
          <div class="new-members">
              <h3>New?</h3><input type="submit" (click)="new = !new" value="Register">.
          </div>
      </form>
  </div>
</div>



</body>
