<form class="register" style="margin-left: 50%;">
  <fieldset>
    <label for="email"><span>Email <span class='required'>*</span></span><input type="text" class='input-field'
        name='email' [(ngModel)]="newUser.email"></label><br>
    <label for="username"><span>Username <span class='required'>*</span></span><input type="text" class='input-field'
        name='username' [(ngModel)]="newUser.username"></label><br>
    <label for="password"><span>Password <span class='required'>*</span></span><input type="text" class='input-field'
        name='password' [(ngModel)]="newUser.password"></label><br>
    <label for="register"><span></span><input (click)='register(newUser)' type="submit" value="Register"></label>
  </fieldset>
</form>

<form class="login" style="margin-left: 50%;">
  <fieldset>
    <label for="username"><span>Username <span class='required'>*</span></span><input type="text" class='input-field'
        name='username' [(ngModel)]="newUser.username"></label>
    <label for="password"><span>Password <span class='required'>*</span></span><input type="text" class='input-field'
        name='password' [(ngModel)]="newUser.password"></label>
    <label for="verify"><span></span><input (click)='login(newUser)' type="submit" value="submit"></label>
  </fieldset>
</form>
